
*.log
/app/tmp/*
/vendor/*

app/tmp/*
app/tmp/logs/error.log

app/tmp/cache/persistent/shopping_cake_core_method_cache

app/tmp/cache/models/shopping_cake_model_default_hoffee_brands

app/tmp/cache/models/shopping_cake_model_default_hoffee_categories

app/tmp/cache/models/shopping_cake_model_default_hoffee_list

app/tmp/cache/models/shopping_cake_model_default_hoffee_order_items

app/tmp/cache/models/shopping_cake_model_default_hoffee_orders

app/tmp/cache/models/shopping_cake_model_default_hoffee_users

app/tmp/cache/persistent/shopping_cake_core_method_cache

app/tmp/cache/persistent/shopping_cake_core_file_map

app/tmp/cache/persistent/shopping_cake_core_default_en-us

app/tmp/cache/persistent/shopping_cake_core_method_cache

app/tmp/cache/persistent/shopping_cake_core_file_map

app/tmp/cache/persistent/shopping_cake_core_default_en-us

app/tmp/cache/models/shopping_cake_model_default_hoffee_users

app/tmp/cache/models/shopping_cake_model_default_hoffee_tags
